<!--The content below is only a placeholder and can be replaced.-->
<div class="main-menu materialize-red lighten-2">
  <nav class="container">
    <div class="nav-wrapper row">
        <a [routerLink]="['']" class="logo left"><img src="/assets/img/logo.png" alt="Live score app | FalconGT204"></a>
        <ul class="left hide-on-med-and-down">
          <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
          <li routerLinkActive="active" ><a routerLink="/login">Login</a></li>
          <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
        </ul>
        <ul class="left sidenav" id="slide-out">
          <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
          <li routerLinkActive="active" ><a routerLink="/login">Login</a></li>
          <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
        </ul>
        <a href="javascript:void(0)" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <a class="btn hide-on-med-and-down right" (click)="logout()">Log Out</a>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
