body{
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}
div.sm-jumbotron{
  margin: 0;
  padding: 2rem;
  color: --white;
}
.logo{
  height: 64px;
}
.logo img{
  width: auto;
  height: 64px;
  object-fit: cover;
  max-height: 64px;
}